body{
    font-family: 'Monsterrat', sans-serif;
}
.form-style{
    margin: auto;
    width: 500px;
    height: 770px;
    background-color:  #fff ;
    box-shadow: 0px 0px 5px 0px #bababa;
    background : url(image/Ninja\ Tutles.png) no-repeat;
    background-size: 100%;
    background-position: 0px 480px;
}
.logo img {
    transform:  translate(135%);
    width: 100px;
    margin-top: -25px;
    cursor: pointer;
}
.form {
    display: grid;
    width: 350px;
    margin: 30px;
    padding-left: 45px;
    padding-top: 25px;
}
.form >input {
    margin-top : 15px;
    padding-top: 10px;
    border: 1px solid #bababa ;
    outline: none !important;
    border-left: 3px solid #1f1f1f;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
    font-size: 14px;
}

span{
    height: 0;
}
i{
    position: relative;
    top: -30px;
    left: 15px;
    color: #bababa;
}
i:hover{
    color: #00a202;
}

.login1{
    position: relative;
    top: -20px;
    left: 26px;
    font-size: 15px;
    text-decoration: none;
    color: #00ba31;
    font-weight: 600; 
}

.form > a:hover {
    color : #0d0809;
    text-decoration: underline;
}

.form > p { 
    position: relative;
    top: -52px;
    left: 213px;
    font-size: 15px;
}

.form > .button {
    position: relative;
    top: -30px;
    height: 50px;
    outline: none !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 15px;
    background-color: #00b102;
    opacity: 0.9;
    border-radius: 50px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}
.button2 {
    position: relative;
    top: 0px;
    width: 350px;
    height: 50px;
    outline: none !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 15px;
    background-color: #00b102;
    opacity: 0.9;
    border-radius: 50px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}


.button2:hover{
    background-color: #00a202;
    opacity: 1;
    transition: all .5s;
}
.button:hover{
    background-color: #00a202;
    opacity: 1;
    transition: all .5s;
}
.form > input:focus + span > i {
    color: #00ba31;
}
.form > input:focus {
    box-shadow: 1px 2px 2px 0px #bababa;
}
.checkbox{
    position: relative;
    left: -160px;
    top: -2px;
}


